.cfce-carousel {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.cfce-carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.cfce-carousel .cfce-carousel__prev,
.cfce-carousel .cfce-carousel__next {
    color: var(--color-primary);
    background-color: transparent;
    border: none;
}

.cfce-carousel .swiper-pagination-bullet-active {
    background-color: var(--color-primary);
}

.cfce-carousel .cfce-carousel__track {
    box-sizing: border-box;
}

.cfce-carousel .cfce-carousel__slide {
    box-sizing: border-box;
}